.eventList {
	/*border-radius: 25%;*/

}

li {
	list-style: none;
	border: 1px solid black;
	width:90%;
	position:relative;
	left:2.5%;
	background-color: #fa7a55;
}

li:nth-child(n+2), li:first-child {
	border-bottom: 0;
}

li:last-child {
	border-bottom:1px solid black;
}

li p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.heading {
	text-align: center;
	font-size: 2em;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.eventDescription {
	float:left;
	width:80%;
}

.eventFunction {
	float: left;
}

.doneButton {
	position:relative:;
	float:right;
}

.configDiv {
	border: 1px solid black;
	position:relative;
	width: 50%;
	left: 25%;
	margin: 5%;
}

.configDiv p {
	text-align: center;
}

.eventList {
	border: 1px solid black;
	width:90%;
	position:relative;
	left:5%;
	overflow:auto;
}

.createForm {
	position: relative;
	left: 15%;
	margin-left: auto;
	margin-right: auto;
}